{% extends 'base.html' %}


{% block content %}

<form action="" method="post">
    <select name="category_id" >
        {% for cat in cats %}
        <option value="{{cat.id}}">{{cat.name}}</option>
        {% endfor %}

    </select><br />
    <input type="text" name="title" placeholder="Title"><br />
    <input type="text" name="telephone" placeholder="Telephone"><br />
    <br />
    Description : <br />
    <textarea rows="5" cols="50" name="description" placeholder="Enter description here..." >

    </textarea>
    {% csrf-field %}
    <br />

    <button type="submit">Create ads</button>
</form>

{% endblock %}
