<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>{% block title %}__TEST TITLE__{% endblock %}</title>
</head>
<body>

<a href="/">Index</a>
<a href="/log-flush">FLUSH</a>

{% if error_message %}
<h1><font color="red">{{error_message}}</font></h1>
{% endif %}



{% if sess.identity.login %}
<a href="/add-ads">/add Ads</a>
<a href="/logout">Logout</a>
<h1>AUTHED2</h1>

{% else %}


<a href="/login">Login</a>
<a href="/signup">SignUp</a>
<a href="/ads">ADS</a>

<H1>NO LOGIN</H1>
{% endif %}

<a href="/add-ads">Add Ads</a>


{% block content %}

{% endblock %}

<h3>Counter: {{counter}}</h3>

{% debug %}

</body>
</html>